# Data Science Tools and Ecosyste

### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

##### Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. panda
3. numpy

# 
 | Data Science Tools |
 |--------------------|
 | Jupyter |
 | R |
 | Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

#### This a simple arithmetic expression to mutiply then add integers

In [14]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

##### objectives that this notebook covered 
* Markdowns
* Code
* Arithmetic in jupyter

## Author Aaron Bustos